{% extends 'base.html' %}
{% block content %}


<div class="container d-flex justify-content-center mt-5">
    <div class="card" style="width: 30rem;">
    <img src="{{ photo.url }}" class="card-img-top square" style='height: 25rem' alt="...">
        <div class="card-body">
                <p class='text-center' >{{photo.caption}}</p>
               <form action="{% url 'add_caption' photo.id%}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <div class="container d-flex justify-content-center">
                    <label for="">Caption</label>
                    <input class='mx-2 mb-2'type="text" name="caption">
                </div>
                <div class="col d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary btn-sm" value="Add Caption">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center mt-3">
    <div class="row">
        <div class="card" style='width: 520px;'>
            <h6 class="card-header text-center">Add Comment</h6>
                <div class="card-body">
                    <form action="{% url 'add_comment' photo.id %}" enctype='multipart/form-data' method='POST'>
                        {% csrf_token %}
                        <div class="form group d-flex justify-content-flex">
                            <textarea style='width: 480px;' name="comment" cols="30" rows="3"></textarea>
                        </div>
                       
                        <div class="col d-flex justify-content-center mt-2">
                            <input type="submit" class="btn btn-primary btn-sm" value="Add Comment">
                        </div>
                        
                    </form>
                </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center mt-3">
    <div class="row">
        <div class="card" style='width: 520px'>
            <h6 class="card-header text-center">Comments</h6>
                {% for comment in comments %}
                    <div class="card-body">
                    <h6 class="card-title">{{comment.user}}</h6>
                    <p class="card-text">{{comment.comment}}</p>
                    <div>{{comment.date}}</div>
                    <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
                </div>
                <hr class="mt-1 mb-1">
                {% endfor %}
               
        </div>
    </div>
</div>

{% endblock  %}