{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container d-flex justify-content-center">
                <div class="card" style="width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-sm-3">
                                <img class="card-img" src="/images/defaultimg.png" alt="Suresh Dasari Card">
                                <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                                    {% csrf_token %}
                                    <input type="file" name="photo-file">
                                    <br><br>
                                    <input type="submit" class="btn" value="Upload Photo">
                                </form>
                        </div>
                        <div class="col-sm-9">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.username }}</h5>
                                <p class="card-text"> {{ profile.bio }} </p>
                                <a href="{% url 'profile_update' profile.id %}" class="btn btn-primary btn-sm">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
 
        </div>
    </div>
</div>

{% endblock  %}