{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container d-flex justify-content-center">
                <div class="card" style="width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-sm-3">
                                <img class="card-img" src="/images/defaultimg.png" alt="Suresh Dasari Card">
                        </div>
                        <div class="col-sm-9">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.username }}</h5>
                                <p class="card-text"> {{ profile }} </p>
                                {% comment %} <a href="{% url 'profile_update' %}" class="btn btn-primary btn-sm">Edit Profile</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>

{% endblock  %}