{% extends 'base.html' %}
{% block content %}

<div class="container d-flex justify-content-center mt-5">
    <div class="card" style="width: 25rem;">
    <img src="{{ profile.pic }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">Profile Pic</h5>
            <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <label for="">Caption</label>
                <input type="text" name='caption'>
                <input type="file" name="photo-file">
               
                <br><br>
                <div class="container d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" value="Upload Photo">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock  %}